.component {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}

th {
  text-align: center;
  font-size: larger;
}

td {
  font-size: 30px;
  padding-right: 15px;
  padding-left: 15px;
}

.classDetail {
  text-align: center;
}
