
<div id="itemTable" class="core items component" cdkDrag dragAndDropReposition (cdkDragEnded)="dragEnd($event)">
  <div>
    <div class="example-handle" cdkDragHandle>
      <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
        <path
          d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z">
        </path>
        <path d="M0 0h24v24H0z" fill="none"></path>
      </svg>
    </div>
  </div>
  <h3> [ Items ] </h3>
  <table>
    <tr>
      <th> Name </th>
      <th> Damage </th>
      <th> Range </th>
      <th> Effects </th>
      <th> Value (GP) </th>
      <th> Magical </th>
      <th> AC </th>
      <th> Notes </th>
    </tr>
    <tr *ngFor="let _item of items">
      <td>{{_item.type}}</td>
      <td class="center-cell">{{_item.damage}}</td>
      <td class="center-cell">{{_item.range}}</td>
      <td>{{_item.effects}}</td>
      <td class="center-cell">{{_item.value}}</td>
      <td class="center-cell">{{_item.isMagical}}</td>
      <td class="center-cell">{{_item.armorClass}}</td>
      <td>{{_item.notes}}</td>
    </tr>
  </table>
</div>
