
<div id="itemTable">
  <table>
    <tr>
      <th> Name </th>
      <th> Damage </th>
      <th> Range </th>
      <th> Effects </th>
      <th> Value (GP) </th>
      <th> Magical </th>
      <th> AC </th>
      <th> Notes </th>
    </tr>
    <tr *ngFor="let _item of items">
      <td>{{_item.name}}</td>
      <td class="center-cell">{{_item.damage}}</td>
      <td class="center-cell">{{_item.range}}</td>
      <td>{{_item.description}}</td>
      <td class="center-cell">{{_item.value}}</td>
      <td class="center-cell">{{_item.isMagical}}</td>
      <td class="center-cell">{{_item.armorClass}}</td>
      <td>{{_item.note}}</td>
    </tr>
  </table>
</div>
