@font-face {
  font-family: "MonoFonto";
  src: local("MonoFonto"), url(../../assets/fonts/monofonto.ttf) format("truetype");
}

.character-sheet {
  font-family: "MonoFonto", Arial, Helvetica, sans-serif;
  color:rgb(182, 191, 200);
  background-color: rgb(7,9,8);
  background-image: url(../../assets/images/gill-dorado-page-2.png);
  background-repeat: no-repeat;

  overflow-y: hidden; /* Hide vertical scrollbar */
  overflow-x: hidden; /* Hide horizontal scrollbar */
}

/* Minimum aspect ratio */
@media (min-aspect-ratio: 21/9) {
  .character-sheet {
    width: 100%;
    height: 100%;
  }
}

 /* Minimum aspect ratio */
@media (min-aspect-ratio: 9/16) {
  .character-sheet {
    width: 100%;
    height: 100%;
  }
}
