<div class="character-sheet">
  <app-resizable-draggable
  [width]="250" [left]="0" [top]="0"
  [header]="'Background'"
  [character]="character"
  [selector]="'app-base-character'">
  </app-resizable-draggable>

  <app-resizable-draggable
  [width]="350" [left]="0" [top]="0"
  [header]="'Skills'"
  [character]="character"
  [selector]="'app-skills-block'">
  </app-resizable-draggable>

  <app-resizable-draggable
  [width]="250"  [left]="0" [top]="0"
  [header]="'Core Stats'"
  [character]="character"
  [selector]="'app-stat-block'">
  </app-resizable-draggable>

  <app-resizable-draggable
  [width]="250"  [left]="0" [top]="0"
  [header]="'Class'"
  [character]="character"
  [selector]="'app-class-block'">
  </app-resizable-draggable>

  <app-resizable-draggable
  [width]="1000"  [left]="0" [top]="0"
  [header]="'Items'"
  [character]="character"
  [selector]="'app-item-table'">
  </app-resizable-draggable>

  <app-resizable-draggable
  [width]="1000"  [left]="0" [top]="0"
  [header]="'Features'"
  [character]="character"
  [selector]="'app-ability-table'">
  </app-resizable-draggable>
</div>
