.resizable-draggable {
  border: solid 1px rgb(182, 191, 200);
      background-color: rgba(0, 0, 0, 75%);
  &:hover {
      cursor: all-scroll;

  }
  overflow: hidden;
}
.resize-action {
  position: absolute;
  left: 100%;
  top: 100%;
  transform: translate3d(-50%, -50%, 0) rotateZ(45deg);
  border-style: solid;
  border-width: 10px;
  border-color: transparent transparent transparent rgb(182, 191, 200);
  &:hover {
      cursor: nwse-resize;
  }
}

.resizeHeader {
  display: inline-block;
  font-size: x-large;
}

.showHideButton {
  font-size: large;
}
