
<div class="component resizable-draggable" #box cdkDrag dragAndDropReposition (cdkDragEnded)="dragEnd($event)"
  [style.width.px]="width"
  [style.height.px]="height"
  [style.transform]="'translate3d('+ left + 'px,' + top + 'px,' + '0px)'"
  [class.active]="status === 1 || status === 2"
  (window:mouseup)="setStatus($event, 0)">
  <h2 [style.padding-left.px]="5" cdkDragHandle>[ {{header}} ] </h2>

    <div *ngIf="selector == 'app-base-character'">
      <app-base-character [width]="width" [height]="height" [character]='character'></app-base-character>
    </div>
    <div *ngIf="selector == 'app-stat-block'">
      <app-stat-block [width]="width" [height]="height" [character]='character'></app-stat-block>
    </div>
    <div *ngIf="selector == 'app-class-block'">
      <app-class-block [width]="width" [height]="height" [character]='character'></app-class-block>
    </div>
    <div *ngIf="selector == 'app-item-table'">
      <app-item-table [width]="width" [height]="height" [character]='character'></app-item-table>
    </div>
    <div *ngIf="selector == 'app-ability-table'">
      <app-ability-table [width]="width" [height]="height" [character]='character'></app-ability-table>
    </div>
    <div *ngIf="selector == 'app-skills-block'">
      <app-skills-block [width]="width" [height]="height" [character]='character'></app-skills-block>
    </div>

    <div class="resize-action" (mousedown)="setStatus($event, 1)"></div>
</div>


