.resizable-draggable {
  &:hover {
      cursor: all-scroll;
      border: solid 1px rgb(182, 191, 200);
      background-color: rgba(0, 0, 0, 75%);
  }
}

.resize-action {
  position: absolute;
  left: 100%;
  transform: translate3d(-50%, -50%, 0) rotateZ(45deg);
  border-style: solid;
  border-width: 10px;
  border-color: transparent transparent transparent rgb(182, 191, 200);
  &:hover {
      cursor: nwse-resize;
  }
}

.component {
}
