.component {
  position: relative;
  display: flexbox;
  color:rgb(182, 191, 200);
  padding: 10px;
  min-width: 200px;
}

.component:hover {
  border: solid 1px rgb(182, 191, 200);
  background-color:gray;
}
