.rectangle {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;

  color:rgb(182, 191, 200);
  margin: auto;
  padding: 10px;
  min-width: 200px;
}

.rectangle:hover {
  border: solid 1px rgb(182, 191, 200);
}

#baseCharacterStats {
  width:250px;

}
