th {
  text-align: center;
  font-size: larger;
}

td {
  font-size: larger;
  padding-right: 15px;
  padding-left: 15px;
}

.center-cell {
  text-align: center;
}


.stats {
  width: 200px;
}

.component {

  color:rgb(182, 191, 200);
}

.component:hover {
  border: solid 1px rgb(182, 191, 200);
  background-color:black;
}
