<div id="statBlock">
  <table>
    <tr>
      <th colspan="1"></th>
      <th></th>
      <th colspan="1">Mod</th>
      <th colspan="1">ST</th>
    </tr>
    <tr>
      <td>STR:</td><td>{{character.coreStats.strength}}</td><td>{{calcMod(character.coreStats.strength)}}</td><td>{{str}}</td>
    </tr>
    <tr>
      <td>DEX:</td><td>{{character.coreStats.dexterity}}</td><td>{{calcMod(character.coreStats.dexterity)}}</td><td>{{dex}}</td>
    </tr>
    <tr>
      <td>CON:</td><td>{{character.coreStats.constitution}}</td><td>{{calcMod(character.coreStats.constitution)}}</td><td>{{con}}</td>
    </tr>
    <tr>
      <td>INT:</td><td>{{character.coreStats.intelligence}}</td><td>{{calcMod(character.coreStats.intelligence)}}</td><td>{{int}}</td>
    </tr>
    <tr>
      <td>WIS:</td><td>{{character.coreStats.wisdom}}</td><td>{{calcMod(character.coreStats.wisdom)}}</td><td>{{wis}}</td>
    </tr>
    <tr>
      <td>CHA:</td><td>{{character.coreStats.charisma}}</td><td>{{calcMod(character.coreStats.charisma)}}</td><td>{{cha}}</td>
    </tr>
  </table>
</div>
